

<x-side-nav>
	<x-side-nav-item>
		<a [routerLink]="['icons']"> icons </a>
	</x-side-nav-item>
	<x-side-nav-item>
		<a [routerLink]="['card']"> card </a>
	</x-side-nav-item>
	<x-side-nav-item>
		<a [routerLink]="['icons']"> dialog </a>
	</x-side-nav-item>
	<x-side-nav-item>
		<a [routerLink]="['icons']"> sidenav </a>
	</x-side-nav-item>
	<x-side-nav-item>
		<a [routerLink]="['markdown']"> markdown </a>
	</x-side-nav-item>
	<x-side-nav-item>
		<a [routerLink]="['icons']"> css </a>
	</x-side-nav-item>
</x-side-nav>

