:root {
	--color-primary: rgb(43, 43, 43);
	--color-primary-contrast: white;
	--color-primary-light: rgb(80, 80, 80);;
	--color-primary-light-contrast: grey;
	--color-primary-dark: rgb(19, 19, 19);;
	--color-primary-dark-contrast: white;

	--color-secondary: rgb(250, 100, 90);
	--color-secondary-contrast: white;
	--color-secondary-light: rgb(243, 128, 124);;
	--color-secondary-light-contrast: grey;
	--color-secondary-dark: rgb(184, 53, 53);;
	--color-secondary-dark-contrast: white;

	--color-bg: white;
	--color-bg2: white;
	--color-bg3: white;

	--color-success: rgb(47, 219, 76);
	--color-warn: red;

	--color-txt: #333;
	--color-txt-secondary: #555;
	--color-txt-third: #666;
}