:root {
	--color-primary: rgb(31, 127, 236);
	--color-primary-contrast: white;
	--color-primary-light: rgb(153, 208, 245);;
	--color-primary-light-contrast: grey;
	--color-primary-dark: rgb(5, 86, 179);;
	--color-primary-dark-contrast: white;

	--color-secondary: rgb(241, 229, 52);
	--color-secondary-contrast: white;
	--color-secondary-light: rgb(250, 243, 141);
	--color-secondary-light-contrast: grey;
	--color-secondary-dark: rgb(241, 175, 53);
	--color-secondary-dark-contrast: white;

	--color-bg: white;
	--color-bg2: rgb(247, 237, 220);
	--color-bg3: white;

	--color-success: rgb(47, 219, 76);
	--color-warn: red;

	--color-txt: #333;
	--color-txt-secondary: #555;
	--color-txt-third: #666;
}

.color-primary {
	color: var(--color-primary);
}

.color-secondary {
	color: var(--color-secondary);
}

.color-warn {
	color: var(--color-warn);
}

.color-success {
	color: var(--color-success);
}

.bg-primary {
	background: var(--color-primary);
}

.bg-secondary {
	background: var(--color-secondary);
}

.bg-warn {
	background: var(--color-warn);
}

.bg-success {
	background: var(--color-success);
}